
folder
  name FrontCounter BC Locations
  lookat
    longitude -124.1500005298061
    latitude 53.99088375299629
    altitude 0
    heading 1.932138132639256
    tilt 0
    range 1406040.976839262
    altitudemode relativeToGround
  style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </ListStyle>
  placemark
    name FrontCounter 100 Mile House
    snippet(maxlines='0')
    description
      :cdata
        300 S Hwy 97<BR/>
        100 Mile House, BC V0K 2E0<BR/>
        Phone: (250) 395-7800<BR/>
        Fax: (250) 395-7810
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/100-mile-house/>here</A></P>
    lookat
      longitude -121.2973811939086
      latitude 51.64436514120808
      altitude 0
      heading -104.7887191112995
      tilt 0
      range 285.6968042045525
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -121.2975101741737,51.64447584566937,0
  placemark
    name FrontCounter Burns Lake
    snippet(maxlines='0')
    description
      :cdata
        185 W Highway 16<BR/>
        Burns Lake, BC V0J 1E0<BR/>
        Phone: (250) 692-2200<BR/>
        Fax: (250) 692-7461
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/burns-lake/>here</A></P>
    lookat
      longitude -125.7560944955359
      latitude 54.22496190249185
      altitude 0
      heading -0.05069967840305904
      tilt 0
      range 243.8837434931254
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -125.7561067603602,54.22514001537333,0
  placemark
    name FrontCounter Campbell River
    snippet(maxlines='0')
    description
      :cdata
        370 S Dogwood Street<BR/>
        Campbell River, BC V9W 6Y7<BR/>
        Phone: (250) 286-9300<BR/>
        Fax: (250) 286-9490
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/campbell-river/>here</A></P>
    lookat
      longitude -125.2481515639248
      latitude 50.00083288828589
      altitude 0
      heading -121.0844562701235
      tilt 0
      range 73.46524434704836
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -125.2479723025356,50.00080169861225,0
  placemark
    name FrontCounter Castlegar
    snippet(maxlines='0')
    description
      :cdata
        845 Columbia Avenue<BR/>
        Castlegar, BC V1N 1H3<BR/>
        Phone: (250) 365-8600<BR/>
        Fax: (250) 365-8568
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/castlegar/>here</A></P>
    lookat
      longitude -117.6643019697324
      latitude 49.31792925222632
      altitude 0
      heading -161.9763374158088
      tilt 0
      range 64.99718794247735
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -117.6642699272519,49.3179611327224,0
  placemark
    name FrontCounter Chilliwack
    snippet(maxlines='0')
    description
      :cdata
        46360 Airport Road<BR/>
        Chilliwack, BC V2P 1A5<BR/>
        Phone: (604) 702-5700<BR/>
        Fax: (604) 702-5711
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/chilliwack/>here</A></P>
    lookat
      longitude -121.9412550619408
      latitude 49.15575739956105
      altitude 0
      heading 161.5165667113562
      tilt 0
      range 70.57290932933029
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -121.9412305603766,49.15580241177986,0
  placemark
    name FrontCounter Clearwater
    snippet(maxlines='0')
    description
      :cdata
        687 Yellowhead South Highway<BR/>
        Clearwater, BC V0E 1N0<BR/>
        Phone: (250) 587-6700<BR/>
        Fax: (250) 587-6790
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/clearwater/>here</A></P>
    lookat
      longitude -120.0310411099587
      latitude 51.65087868840264
      altitude 0
      heading 5.340455313728097
      tilt 0
      range 169.4646314426998
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -120.0313177658193,51.65077406582224,0
  placemark
    name FrontCounter Cranbrook
    snippet(maxlines='0')
    description
      :cdata
        1902 Theatre Road<BR/>
        Cranbrook, BC V1C 7G1<BR/>
        Phone: (250) 426-1766<BR/>
        Fax: (250) 426-1767
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/cranbrook/>here</A></P>
    lookat
      longitude -115.7536349217247
      latitude 49.53185446575786
      altitude 0
      heading 8.553949967393677
      tilt 0
      range 174.140152107278
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -115.7534265280942,49.5317726379396,0
  placemark
    name FrontCounter Dawson Creek
    snippet(maxlines='0')
    description
      :cdata
        9000 17th Street<BR/>
        Dawson Creek, BC V1G 1A5<BR/>
        Phone: (250) 784-1200<BR/>
        Toll free: 1-877-855-3222
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/dawson-creek/>here</A></P>
    lookat
      longitude -120.2496979454604
      latitude 55.77296122346597
      altitude 0
      heading 0.0001389155769558608
      tilt 0
      range 182.3153945227675
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -120.24994430502,55.77301243448933,0
  placemark
    name FrontCounter Fort Nelson
    snippet(maxlines='0')
    description
      :cdata
        6100 Alaska highway<BR/>
        Fort Nelson, BC V0C 1R0<BR/>
        Phone: (250) 774-5511<BR/>
        Fax: (250) 774-3704
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/fort-nelson/>here</A></P>
    lookat
      longitude -122.7321074336911
      latitude 58.80476521701589
      altitude 0
      heading -18.9024287804125
      tilt 45.33570472104473
      range 212.1418832721033
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -122.7317906779307,58.80527933752927,0
  placemark
    name FrontCounter Fort St. James
    snippet(maxlines='0')
    description
      :cdata
        2537 Stones Bay Road<BR/>
        Fort St. James, BC V0J 1P0<BR/>
        Phone: (250) 996-5200<BR/>
        Fax: (250) 996-5290
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/fort-st-james/>here</A></P>
    lookat
      longitude -124.2866504894114
      latitude 54.45755946603362
      altitude 0
      heading 0.0001391667912417386
      tilt 0
      range 284.8285704983458
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -124.2873971440672,54.45752121646011,0
  placemark
    name FrontCounter Fort St. John
    snippet(maxlines='0')
    description
      :cdata
        100-10003 110 Avenue<BR/>
        Fort St John, BC V1J 6M7<BR/>
        Phone: (250) 787-3415<BR/>
        Fax: (250) 261-2084
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/fort-st-john/>here</A></P>
    lookat
      longitude -120.8478990218154
      latitude 56.2549203149185
      altitude 0
      heading 0.0004441786459658477
      tilt 0
      range 198.9580910512136
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -120.8484165287112,56.25488220389264,0
  placemark
    name FrontCounter Haida Gwaii
    snippet(maxlines='0')
    description
      :cdata
        1229 Oceanview Drive<BR/>
        Haida Gwaii, BC V0T 1S0<BR/>
        Phone: (250) 559-6200<BR/>
        Fax: (250) 559-8342
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/haida-gwaii/>here</A></P>
    lookat
      longitude -132.0605899651308
      latitude 53.25242343998377
      altitude 0
      heading -4.419223144882367
      tilt 0
      range 162.2244503540305
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -132.0606980135319,53.25261645024128,0
  placemark
    name FrontCounter Kamloops
    snippet(maxlines='0')
    description
      :cdata
        441 Columbia St<BR/>
        Kamloops, BC V2C 2T3<BR/>
        Phone: (250) 828-4131<BR/>
        Fax: (250) 828-4442
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/kamloops/>here</A></P>
    lookat
      longitude -120.331542811713
      latitude 50.66886379129697
      altitude 0
      heading -5.245099156999863
      tilt 0
      range 195.9519227069028
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -120.3316483394346,50.66871811308382,0
  placemark
    name FrontCounter Mackenzie
    snippet(maxlines='0')
    description
      :cdata
        1 Cicada Road<BR/>
        Mackenzie, BC V0J 2C0<BR/>
        Phone: (250) 997-2200<BR/>
        Fax: (250) 997-2236
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/mackenzie/>here</A></P>
    lookat
      longitude -123.0929092665263
      latitude 55.32279549040859
      altitude 0
      heading 124.3428884841657
      tilt 0
      range 67.80161844669253
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -123.0929107959029,55.32276448766837,0
  placemark
    name FrontCounter Merritt
    snippet(maxlines='0')
    description
      :cdata
        3840 Airport Rd<BR/>
        Merritt, BC V1K 1B8<BR/>
        Phone: (250) 378-8400<BR/>
        Fax: (250) 378-8481
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/merritt/>here</A></P>
    lookat
      longitude -120.7482563718154
      latitude 50.12551067412542
      altitude 0
      heading 142.0430908047296
      tilt 0
      range 69.19672413457784
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -120.7482409025343,50.12559757090483,0
  placemark
    name FrontCounter Nanaimo
    snippet(maxlines='0')
    description
      :cdata
        Suite 142, 2080 Labieux Road<BR/>
        Nanaimo, BC V9T 6J9<BR/>
        Phone: (250) 751-7220<BR/>
        Fax: (250) 751-7224
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/nanaimo/>here</A></P>
    lookat
      longitude -123.9935331040175
      latitude 49.20067196119476
      altitude 0
      heading 41.17955248478542
      tilt 0
      range 225.9748561514208
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -123.9939508172119,49.20074427581343,0
  placemark
    name FrontCounter Port Alberni
    snippet(maxlines='0')
    description
      :cdata
        4885 Cherry Creek Road<BR/>
        Port Alberni, BC V9Y 8E9<BR/>
        Phone: (250) 731-3000<BR/>
        Fax: (250) 731-3010
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/port-alberni/>here</A></P>
    lookat
      longitude -124.7878091426638
      latitude 49.26323440988062
      altitude 0
      heading 92.60447758260486
      tilt 0
      range 71.2817947034913
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -124.7879197117111,49.26325252216222,0
  placemark
    name FrontCounter Port McNeill
    snippet(maxlines='0')
    description
      :cdata
        2217 Mine Road Place<BR/>
        Port McNeill, BC V0N 2R0<BR/>
        Phone: (250) 956-5000<BR/>
        Fax: (250) 956-5079
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/port-mcneill/>here</A></P>
    lookat
      longitude -127.0798641557736
      latitude 50.58007306132527
      altitude 0
      heading 158.4268936789945
      tilt 0
      range 223.8970950794364
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -127.0801531515566,50.57994896563743,0
  placemark
    name FrontCounter Powell River
    snippet(maxlines='0')
    description
      :cdata
        7077 Duncan Street<BR/>
        Powell River, BC V8A 1W1<BR/>
        Phone: (604) 485-0700<BR/>
        Fax: (604) 485-0799
        <P>For more information click
        
        
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/powell-river/>here</A></P>
    lookat
      longitude -124.5173072058587
      latitude 49.83629973668576
      altitude 0
      heading 6.326322981036693
      tilt 0
      range 68.84918703689236
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -124.5173897730916,49.83626637759734,0
  placemark
    name FrontCounter Prince George
    snippet(maxlines='0')
    description
      :cdata
        200-1488 4th Avenue<BR/>
        Prince George, BC V2L 4Y2<BR/>
        Phone: (250) 565-6779<BR/>
        Fax: (250) 565-6941
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/prince-george/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -122.7440779812479
      latitude 53.91479670179361
      altitude 0
      heading -2.399211530159855
      tilt 0
      range 99.73150429105905
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -122.7441227530966,53.91474452520534,0
  placemark
    name FrontCounter Quesnel
    snippet(maxlines='0')
    description
      :cdata
        322 Johnston Avenue<BR/>
        Quesnel, BC V2J 3M5<BR/>
        Phone: (250) 992-4400<BR/>
        Fax: (250) 992-4403
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/quesnel/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -122.4931973472015
      latitude 52.96939092322684
      altitude 0
      heading 172.3029255366607
      tilt 0
      range 65.71094888901509
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -122.4931080367189,52.96943498461345,0
  placemark
    name FrontCounter Revelstoke
    snippet(maxlines='0')
    description
      :cdata
        1761 Big Eddy Road<BR/>
        Revelstoke, BC V0E 3K0<BR/>
        Phone: (250) 837-7611<BR/>
        Fax: (250) 837-7626
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/revelstoke/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -118.2220129032955
      latitude 50.99745444284732
      altitude 0
      heading -159.9827270702862
      tilt 0
      range 71.69104955415874
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -118.2221423932002,50.99745856288897,0
  placemark
    name FrontCounter Smithers
    snippet(maxlines='0')
    description
      :cdata
        1st Floor, 3726 Alfred Avenue<BR/>
        Smithers, BC V0J 2N0<BR/>
        Phone: (250) 847-7356<BR/>
        Fax: (250) 847-7556
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/smithers/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -127.1726872177431
      latitude 54.777553884018
      altitude 0
      heading 56.83228043404399
      tilt 0
      range 70.83129214684088
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -127.1728829637371,54.77751262338504,0
  placemark
    name FrontCounter Squamish
    snippet(maxlines='0')
    description
      :cdata
        Suite 101-42000 Loggers Lane<BR/>
        Squamish, BC V8B 0H3<BR/>
        Phone: (604) 898-2100<BR/>
        Fax: (604) 898-2191
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/squamish/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -123.1398428635544
      latitude 49.72629979609117
      altitude 0
      heading 138.4669441126138
      tilt 0
      range 74.12489219106722
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -123.1399344493855,49.72632732806276,0
  placemark
    name FrontCounter Surrey
    snippet(maxlines='0')
    description
      :cdata
        Suite 200, 10428 153rd Street<BR/>
        Surrey, BC V3R 1E1<BR/>
        Phone: (604) 586-4400<BR/>
        Fax: (604) 586-4434
        
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/surrey/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -122.7982264208343
      latitude 49.19191899807347
      altitude 0
      heading 123.1519539611859
      tilt 0
      range 298.2398687980961
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      coordinates -122.7980096441226,49.1918577209095,0
  placemark
    name FrontCounter Terrace
    snippet(maxlines='0')
    description
      :cdata
        Suite 200-5220 Keith Avenue<BR/>
        Terrace, BC V8G 1L1<BR/>
        Phone: (250) 638-5100<BR/>
        Fax: (250) 638-5176
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/terrace/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -128.6271069382921
      latitude 54.51445885130397
      altitude 0
      heading -38.72314063172928
      tilt 0
      range 177.6366911511244
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -128.6271556102364,54.51437239965299,0
  placemark
    name FrontCounter Vanderhoof
    snippet(maxlines='0')
    description
      :cdata
        1560 Highway 16 East<BR/>
        Vanderhoof, BC V0J 3A0<BR/>
        Phone: (250) 567-6363<BR/>
        Fax: (250) 567-6370
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/vanderhoof/>here</A></P>
    lookat
      longitude -123.9942879401224
      latitude 54.00784757179422
      altitude 0
      heading 34.81115001572523
      tilt 0
      range 247.2159712513124
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -123.9949516762443,54.00799204081517,0
  placemark
    name FrontCounter Vernon
    snippet(maxlines='0')
    description
      :cdata
        2501-14 Avenue<BR/>
        Vernon, BC V1T 8Z1<BR/>
        Phone: (250) 558-1700<BR/>
        Fax: (250) 549-5485
        <P>For more information click
        
         
        
         <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/vernon/>here</A></P>
    lookat
      gx:timestamp <when> 2012-09-07 </when>
      gx:vieweroptions
        gx:option(name='historicalimagery')
          gx:option(enabled='', name='sunlight')
            gx:option(enabled='', name='streetview')
      longitude -119.2648660389342
      latitude 50.25226026095527
      altitude 0
      heading -50.50371751430939
      tilt 0
      range 73.77656706491169
      gx:altitudemode relativeToSeaFloor
    styleurl #msn_ranger_station
    point
      gx:draworder 1
      coordinates -119.2648779272283,50.25218661862291,0
  placemark
    name FrontCounter BC Williams Lake
    snippet(maxlines='0')
      description
        :cdata
          #201 - 172 North 2nd Avenue<BR/>
          Williams Lake, BC V2G 1Z6<BR/>
          Phone: (250) 398-4574<BR/>
          Fax: (250) 398-4836
          
          <P>For more information click
          
           
          
           <A HREF=http://www.frontcounterbc.gov.bc.ca/locations/williams-lake/>here</A></P>
      lookat
        gx:timestamp <when> 2012-09-07 </when>
        gx:vieweroptions
          gx:option(name='historicalimagery')
            gx:option(enabled='', name='sunlight')
              gx:option(enabled='', name='streetview')
        longitude -122.1371424090784
        latitude 52.13040860791286
        altitude 0
        heading -30.7384055691314
        tilt 0
        range 88.79419044408348
        gx:altitudemode relativeToSeaFloor
      styleurl #msn_ranger_station
      point
        coordinates -122.1372072859157,52.13049835537323,0
